@use '../../styles/_variables' as *;

header {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  top: 0;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #f1f1f1;
  background: $primary-color;
  color: $light-gray;
  z-index: 100;

  .logo {
    margin-right: 2rem;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
  }
}
