@use '../../styles/_variables' as *;

.postDetails {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: $light-gray;
  border-radius: 5px;
  padding: 2rem;

  h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
  }

  p {
    font-size: 1rem;
    color: #666;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
      }

      strong {
        color: $dark-gray;
      }

      em {
        font-size: 0.9rem;
        color: $text-color;
      }
    }
  }
}
